
    <!-- Google Form -->
    <!-- {% include google-contact.html %} -->

<div class="parent-form-div">
<div class="inner-form-div content-left">
    <a name="form"></a><h2>Get In Touch <i class="fa-solid fa-hands-clapping"></i></h2>
</div>
<div class="inner-form-div content-right">
<form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSelgCTP42bcgABCJopqRiy7Kvg40D8lu2v4vS_AiHkQSQZ1ew/formResponse">
    <label for="entry.2077360209">Full Name*</label><br />
    <input type="text" name="entry.2077360209" placeholder="(Required)"><br />
    <label for="entry.1504931136">Organization (optional)</label><br />
    <input type="text" name="entry.1504931136" placeholder="(Optional)"><br />
    <label for="entry.687528941">E-mail Address*</label><br />
    <input type="text" name="entry.687528941" placeholder="(Required)"><br />
    <label for="entry.1769884582">Phone Number</label><br />
    <input type="text" name="entry.1769884582" placeholder="(000) 000-0000"><br />
    <label for="entry.1737031255">Contact Preference</label><br />
    <input type="text" name="entry.1737031255" placeholder="Choose One"><br />
    <label for="entry.6665678=999-description">How can we help?</label><br />
    <input type="text" name="entry.6665678=999-description" placeholder="(Required)"><br />
    <button type="submit">Continue</button> or <button type="reset">Clear Form</button>
</form>
</div>
</div>