
/* RESET 
============================== */

$bodyFont: "Fira Sans Condensed",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$bodyColor: #000000;

// Fix box-sizing model
*, *::before, *::after {
    box-sizing: border-box;
}

// Fix default margin
* {
    margin: 0;
    padding: 0;
}

// Fix typography
body {
    font-family: $bodyFont;
    color: $bodyColor;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
    font: inherit;
}

// Fix media defaults
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

// Fix text-overflow
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

// Creat root stacking context
#root, #__next {
    isolation: isolate;
}




/* THEME
============================== */

#pageWrapper {
    display: flex;
    flex-direction: column;
}

#pageHeader { 
    background-color: #FECB00;
    display: flex;
    justify-content: center;
    padding: 10em 0;
    .headerLogo { margin: 0; padding: 0 20px; width: 30.0em; }
    /* .__white { ... } */
}

#pageContent { 
    margin-bottom: 2em;
    a { color: #5FC5D8; }
    .answer { padding-bottom: 1em; }
    .answer:last-child { padding-bottom: 0; }
    .fa-regular { color: #FECB00; }
    @media only screen and (min-width: 600px) {
        max-width: 1600px;
        align-self: center;
    }

    .contentRow {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0;

        h2 { font-size: 2.6rem; font-weight: 500; margin: .5em 0; }
        h3 { font-weight: normal; }
        p { color: #595959; }

        .__left { 
            margin: 0;
            padding: 0 2em;
            width: 50%;
            min-width: 300px;
            flex-grow: 1;
        }
        .__right { 
            margin: 0;
            padding: 0 2em;
            width: 50%;
            min-width: 300px;
            flex-grow: 1;
        }

        @media only screen and (max-width: 600px) {
            .__right h2.padding { display: none; }
        }
    }
}

#googleForm {
    input, button, textarea, select {
        padding: 10px;
        margin: 5px 0;
        width: 100%;
        border-width: 1px;
        &:required {
            border-right: 4px solid #FECB00;
        }
    }

    .required { font-size: x-small; color: white; margin-left: 6px; padding: .2em .4em; background-color: #595959; border-radius: 10px; }

    .buttonArea {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .item {
            width: 50%;
        }
        @media only screen and (max-width: 1600px) {
            .item {
                width: 100%;
            }
        }

    }

    @media only screen and (min-width: 1600px) {
        .buttonArea :nth-child(1) { order: 1; }
        .buttonArea :nth-child(2) { order: 2; }
        .buttonArea :nth-child(3) { order: 1; }
    }

    button {
        border: none;
        width: 50%;
        border-radius: 5px;
    }
    button.send {
        background-color: #FECB00;
        &:hover {
            background-color: #5FC5D8;
        }
        &:active {
            transform: translateY(4px);
        }
    }
    button.reset {
        background-color: white;
        border: 1px solid #E5E4E2;
        &:hover {
            background-color: #5FC5D8;
        }
        &:active {
            transform: translateY(4px);
        }
    }
}

#pageFooter { 
    display: flex;
    background-color: #000000;
    padding: 5em 0;
    justify-content: center;
    .footerRow { color: white; padding: .5em 0; }
}
