
/* RESET 
============================== */

$bodyFont: "Fira Sans Condensed",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$bodyColor: #000000;

// Fix box-sizing model
*, *::before, *::after {
    box-sizing: border-box;
}

// Fix default margin
* {
    margin: 0;
    padding: 0;
}

// Fix typography
body {
    font-family: $bodyFont;
    color: $bodyColor;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
    font: inherit;
}

// Fix media defaults
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

// Fix text-overflow
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

// Creat root stacking context
#root, #__next {
    isolation: isolate;
}




/* THEME
============================== */

#pageWrapper {
    display: flex;
    flex-direction: column;
}

#pageHeader { 
    background-color: blue;
    /* .headerLogo { ... }
    .__white { ... } */
}

#pageContent { 
    a { color: #5FC5D8; }
    .answer { padding-bottom: 1em; }
    .answer:last-child { padding-bottom: 0; }
    .fa-regular { color: #FECB00; }
    @media only screen and (min-width: 600px) {
        max-width: 1600px;
        align-self: center;
    }

    .contentRow {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 2em 0;

        h2 { font-size: 2.6rem; font-weight: 500; }
        h3 { font-weight: normal; }
        p { color: #595959; }

        .__left { 
            margin: 0;
            padding: 0 2em;
            width: 50%;
            min-width: 300px;
            flex-grow: 1;
        }
        .__right { 
            margin: 0;
            padding: 0 2em;
            width: 50%;
            min-width: 300px;
            flex-grow: 1;
        }

        @media only screen and (min-width: 600px) {
            .__push-textarea {
                padding-top: 3.9em;
            }
        }
    }
}

#googleForm {
    input, button, textarea, select {
        
        padding: 10px;
        margin: 5px 0;
        width: 100%;
    }
    button {
        border: none;
        background-color: #FECB00;
        width: 50%;
    }
}

#pageFooter { 
    background-color: purple;
    /* .footerRow { ... } */
}
