---
---

@import "base";

html, body {
    margin:0px;
    font-family: 'Fira Sans Condensed', sans-serif;
  }

h3 {
  font-weight: normal;
}

a {
  color: #5FC5D8;
}

.question {

}

.answer {
  color: #708090;
}
  
.parent-logo-div {
    background-image: url({{ site.baseurl }}/assets/images/base/shoreline-bkgr.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-logo-div img {
  width: 500px; height: auto;
  padding: 5em;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-link {
    margin-right: 20px;
}

.parent-form-logo {
  background-color: #FECB00;
  text-align: center;
  padding: 12em;
  img {
    width: 300px;
  }
}

  .parent-form-div {
    display: flex;
    gap: 10px 10px;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    // align-items: center;
  }

  .content-left {
    line-height: 150%;
  }

  .inner-form-div h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24pt;
    font-weight: normal;
  }

  .inner-form-div {
    width: 600px;
    min-width: 600px;
    height: auto;
  }

  .inner-form-div iframe {
    width: 600px;
    height: 1260px;
  }

  @media screen and (min-width: 600px) {
    .screenfit {
      min-height: 100vh;
    }
  }
  @media screen and (max-width: 600px) {
    .parent-logo-div {
      padding: 2em;
    }

    .parent-form-logo {
      padding: 0;
    }
  
    .parent-form-logo img {
      width: 50%; height: auto;
    }
    
    .inner-logo-div img {
      width: 100%; height: auto;
      padding: 0;
    }

    .social-container {
      flex-direction: column;
    }
    .inner-form-div.content-left {
      padding: 2em;
    }
    .inner-form-div {
      width: 100% !important;
      min-width: 100% !important;
    }
    .inner-form-div iframe {
      margin: 0;
      width: 100% !important;
      min-width: 100% !important;
      height: 1260px;
    }
  


    }