---
---

@import "base";

html, body {
    margin:0px;
    height: 100%;
    font-family: 'Fira Sans Condensed', sans-serif;
  }

h3 {
  font-weight: normal;
}

a {
  color: #5FC5D8;
}

.question {

}

.answer {
  color: #708090;
}
  
.parent-logo-div {
    background-image: url({{ site.baseurl }}/assets/images/base/shoreline-bkgr.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-logo-div {

}

.inner-logo-div img {
  width: 500px; height: auto;
  padding: 5em;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-link {
    margin-right: 20px;
}

.parent-form-logo {
  text-align: center;
  padding: 1em;
  img {
    max-width: 300px;
  }
}

  .parent-form-div {
    display: flex;
    gap: 10px 10px;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    // align-items: center;
  }

  .content-left {
    line-height: 150%;
  }

  .inner-form-div h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24pt;
    font-weight: normal;
  }

  .inner-form-div {
    width: 600px;
    min-width: 600px;
    height: auto;
  }

  @media screen and (max-width: 480px) {
    .parent-logo-div {
      padding: 2em;
    }
    .parent-form-div {
      padding: 2em;
    }
    .inner-logo-div img {
      width: 100%; height: auto;
      padding: 0;
    }
    .social-container {
      flex-direction: column;
    }
    .inner-form-div {
      min-width: 200px;
      height: auto;
    }
    }

