---
---

@import "base";

html, body {
    margin:0px;
    height: 100%;
    font-family: 'Fira Sans Condensed', sans-serif;
  }
  .parent-logo-div {
    background-image: url({{ site.baseurl }}/assets/images/base/shoreline-bkgr.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inner-logo-div {

  }

  .inner-logo-div img {
    width: 500px; height: auto;
    padding: 5em;
  }
  @media only screen and (max-width: 600px) {
    .inner-logo-div img {
      width: 50%x; height: auto;
      padding: 2em;
    }
  }

  .social-link {
    margin-right: 20px;
 
  }
  a.social-link {
    color: #5FC5D8;
  }
.parent-form-logo {
  text-align: center;
  padding: 1em;
  img {
    max-width: 300px;
  }
}

  .parent-form-div {
    display: flex;
    gap: 10px 10px;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    // align-items: center;
  }

  .content-left {
    line-height: 150%;
  }

  .inner-form-div h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24pt;
    font-weight: normal;
  }

  .inner-form-div {
    width: 600px;
    min-width: 600px;
    height: auto;
  }

  @media only screen and (max-width: 600px) {
    .inner-form-div {
      min-width: 200px;
      height: auto;
    }
  }